#panel {
  width: 500px;
  height: 540px;
  overflow: hidden;
}

.card {
  width: 90px;
  height: 130px;
  line-height: 130px;
  border: 1px solid silver;
  border-radius: 6px;
  font-size: 30px;
  box-shadow: gray 2px 2px;
  background: white;
  float: left;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.back {
  background-image: url(../images/back.jpg);
}

.grizzly {
  background-image: url(../images/grizzly.jpg);
}

.hippo {
  background-image: url(../images/hippo.jpg);
}

.rhino {
  background-image: url(../images/rhino.jpg);
}

.lynx {
  background-image: url(../images/lynx.jpg);
}

.beaver {
  background-image: url(../images/beaver.jpg);
}

.pangolin {
  background-image: url(../images/pangolin.jpg);
}

.kangaroo {
  background-image: url(../images/kangaroo.jpg);
}

.koala {
  background-image: url(../images/koala.jpg);
}

.gorilla {
  background-image: url(../images/gorilla.jpg);
}

.polar-bear {
  background-image: url(../images/polar-bear.jpg);
}

.finish {
  opacity: 0;
  cursor: default;
}

#result {
  font-size: 1.2em;
  font-weight: bold;
}
