#container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.panel {
  width: 520px;
  height: 500px;
}

#reset {
  margin-top: 4px;
  padding: 4px 9px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background-color: gray;
}

.card {
  width: 80px;
  height: 120px;
  margin: 1px;
  border: 1px solid silver;
  border-radius: 6px;
  box-shadow: gray 2px 2px;
  float: left;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.finish {
  visibility: hidden;
  cursor: default;
}

#result {
  font-size: 20px;
  font-weight: bold;
}
